.CatalogueCard{
  width: 550px;
  height: 200px;
  background: #E7772E;
  border-radius: 20px;
}
.CatalogueCard__title{
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 400;
  padding-top: 150px;
  padding-left: 50px;
}