.CatalogueSection__productionCards__item{
  display: flex;
  flex-wrap: wrap;
}
.CatalogueCard{
  cursor: pointer;
  margin: 0 2% 2% 0;
  width: 550px;
  height: 200px;
  border-radius: 20px;
  background-image: url('../../assets/MainPageImage.webp');
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid #161616;
}
.CatalogueCard:hover{
  border: 1px solid #B7B7B7;
}
.CatalogueCard__title{
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 400;
  padding-top: 130px;
  padding-left: 50px;
}
.link{
  text-decoration: none;
  color: #FFFFFF;
}