.productCardsArea__row{
  margin-bottom: 5%;
  display: flex;
  flex-wrap: wrap;
  .productCardsArea__cell__link{
    text-decoration: none;
  }
  .productCardsArea__cell__delivery{
    color: #B7B7B7;
    font-size: 14px;
  }
  .productCardsArea__cell{
    border: 1px solid #161616;
    border-radius: 25px;
    margin-left: 5%;
    display: table-cell;
    width: 300px;
    height: 450px;
    .productCardsArea__cell__flex{
      display: flex;
      justify-content: space-between;
    }
    .productCardsArea__cell__button{
      background: #E7772E;
      color: #FFFFFF;
      height: 40px;
      width: 150px;
      border-radius: 50px;
      border: none;
      cursor: pointer;
      font-weight: 500;
      font-size: 16px;
    }
    .productCardsArea__cell__button:hover{
      background: transparent;
      color: #FFFFFF;
      border: 1px solid #E7772E;
    }
    .productCardsArea__cell__flex{
      margin-left: 8%;
      margin-right: 10%;
      display: flex;
      justify-content: space-between;
      .productCardsArea__cell__flex__price{
        color: #B7B7B7;
        font-weight: 400;
        font-size: 20px;
      }
      .productCardsArea__cell__flex__rating{
        color: yellow;
        font-weight: 400;
        font-size: 20px;
      }
    }
    .productCardsArea__cell__image{
      margin-top: 20px;
      margin-left: 25px;
      margin-right: 20px;
      display: block;
      width: 250px;
      height: 250px;
      border-radius: 20px;
    }
    .productCardsArea__cell__title{
      margin-left: 8%;
      color: #FFFFFF;
      font-size: 18px;
      font-weight: 400;
    }
  }
}
.deliverySVGFlex{
  display: flex;
  margin-left: 5%;
}
.deliverySVG{
  margin-right: 5%;
}
svg{
  margin: 0 2px 0 0;
}
.productCardsArea__cell:hover{
  border: 1px solid #696969;
}