.hidden{
  height: 1px;
  margin-left: 10%;
}
.visible{
  height: 600px;
  margin-left: 10%;
}
.input{
  margin-left: 10%;
  outline: none;
  color: #FFFFFF;
  background: #696969;
  border: none;
}
.Graphic{
  margin-bottom: 10%;
}